<head>
  <title>Wacky Web Woes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
</head>
<body>
  <main class="container">
    <h1>Room 1</h1>
    <p>
      Wordlists like <code>SecLists</code> and directory enumeration tools such as <code>dirb</code> are essential for uncovering hidden webpage content, but their misuse can pose security risks, emphasizing the need for responsible usage and robust cybersecurity measures.
    </p>
    <a href="{{href}}" style="display: none;" role="button">Proceed to Room 1</a>
  </main>
</body>